:root {
    --base-bg-color: rgb(17, 17, 17);
    --base-fg-color: rgb(187, 187, 187);
    --base-font: Trebuchet MS;
}

body {
    background-color: var(--base-bg-color);
    color: var(--base-fg-color);
    font-family: var(--base-font);
    font-size: 16px;
    margin: 1rem;
}